// ==========
// Home
// ==========

@use "root/" as *;

.header {
 h1 {
  font-size: 1.8rem;
  text-align: center;
 }
}

.start {
 text-align: center;

 p {
  font-size: $lead;
  margin-bottom: $spacer;
 }

 h2 {
  font-size: 1.6rem;
 }

 .features {
  margin: 20px 0 30px;

  p {
   font-size: 1.2rem;
   margin-bottom: 10px;
  }
 }

 hr {
  margin: $spacer $small-spacer;
 }
}

.footer-links {
 margin-bottom: calc($spacer/ 2);
}
@include media(700) {
 .header {
  h1 {
   font-size: 2rem;
  }
 }

 .start {
  h2 {
   font-size: 1.7rem;
  }
 }
}
@include media(900) {
 .header {
  h1 {
   font-size: 2.5rem;
  }
 }

 .start {
  h2 {
   font-size: 2rem;
  }
 }
}
