// =======================
// Start - remove
// =======================

.wrapper {
	padding: $spacer 5%;
}

.start {
	text-align: center;

	h1 {
		font-size: 1.8rem;
	}

	figure {
		margin-bottom: $spacer;
	}

	p {
		font-size: $lead;
		margin-bottom: $spacer;
	}

	h2 {
		font-size: 1.6rem;
	}

	.features {
		margin: 20px 0 30px 0;

		p {
			font-size: 1.2rem;
			margin-bottom: 10px;
		}
	}

	h5 {
		font-size: 1.4rem;
		margin-bottom: $spacer;
	}

	.secondary {
		font-size: $secondary;
	}

	button {
		padding: 7px;
		margin-top: 0;
		margin-bottom: $spacer;

		a {
		color: $white;
		font-size: .9rem;
	}
	}
	hr {
    margin-bottom: $spacer;
  }
}

@include media(700) {
	.start {
		h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.7rem;
	}
}
}

@include media(900) {
	.start {
		h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2rem;
	}
}
}