//Phone1st
//A super light developer theme

// ====================
//   Import the basics
//  ===================
@import "reset";
@import "bourbon";

@import "base/variables";
@import "base/mixins";
@import "base/fonts";

html {
		-webkit-overflow-scrolling: touch;
		-webkit-tap-highlight-color: $light-gray;
		box-sizing: border-box;
		height: 100%;
}

*,
*::before,
*::after {
		box-sizing: inherit;
}

body {
	height: 100%;
	color: $font-color;
	font-family: $font;
	font-feature-settings: "kern", "liga", "pnum";
	font-size: $font-size;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
}

a {
	color: $link-color;
	text-decoration: none;
	
	&:active,
	&:focus,
	&:hover {
		color: $link-color;
}
}

//Link hovers
@include media(900) {
a {
  transition: color 0.4s ease-in 0.1s;
    
  &:hover {
    color: $hover-color;
}
}
}

// ==============
//   Base styles
//  =============
@import "base/utilities";
@import "base/typography";
@import "base/media";
@import "base/form";
@import "base/table";

// ==============
// Custom styles
// ==============

@import "site/site";
@import "site/menu";
@import "site/navigation";
@import "site/social";


// =============
// Print styles
// =============
@import "base/print";