// =======================
// Test
// =======================
@import "bourbon";
@import "../css/base/variables";
@import "../css/base/mixins";
@import "utilities";

///////////
h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: $spacer;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
}

p {
  text-align: center;
}

hr {
  margin: $spacer $spacer/2;
}



.links {
  margin: $spacer/2 0 $spacer 0;

  a {
  display: block;
  font-size: $secondary;
  font-family: $alt-font;
}
}

.extras {
text-align: center;
p {
  font-size: $secondary;
}

pre {
  text-align: left;
  padding: $spacer/2 $spacer;
  @include background(tint($light-gray, 60%));
  border-radius: $radius;
  color: rgb(87, 127, 214);
}

.background {
	@include background($success-color);
  @include size(300px, 100px);
  @include margin(null auto);
}

.hidden-box {
  @include size(300px, 20px);
  @include margin(null auto);
    p:hover {
    @include hidden;
  }
}

input[type="text"] {
  @include placeholder {
    color: $medium-gray;
  }
}

.media-points p {
  color: red;
}

@include media(700) {
  .media-points p {
    color: blue;
  }
}

@include media(900) {
  .media-points p {
    color: rebeccapurple;
  }
}

.inline {
  display: inline !important;
}

//Bourbon Mixins
}
