// =======================
// Test
// =======================
@import "bourbon";
@import "../css/base/variables";
@import "../css/base/mixins";
@import "utilities";

///////////

.links {
  margin: $spacer/2 0 $spacer 0;

  a {
  display: block;
  font-size: $secondary;
  font-family: $alt-font;
}
}

.background {
	@include background($alert-color);
	@include size(300px, 200px);
}
