// =======================
// Test
// =======================
@import "bourbon";
@import "neat";
@import "../css/base/variables";
@import "../css/base/mixins";
@import "utilities";

///////////

.links {
  margin: $spacer/2 0 $spacer 0;

  a {
  display: block;
  font-size: $secondary;
  font-family: $alt-font;
}
}

//If you have a alternative font alter the style to suite
.alt {
  font-family: $alt-font;
}

.theme-variables p {
  padding: $spacer/2;
}

.black-color {
  background: $black;
  
  p {
    color: #fff;
}
}

.white-color {
  background: $white;
}

.dark-gray {
  background: $dark-gray;
  
  p {
    color: #fff;
}
}

.medium-gray {
  background: $medium-gray;
}

.light-gray {
  background: $light-gray;
}

.font-color {
  background: $font-color;
  
  p {
    color: #fff;
}
}

.link-color {
  background: $link-color;
}

.hover-color {
  background: $hover-color;
}

.background {
  background: $background;
}

.light-background {
  background: $light-background;
}

.border {
  border: $border;
  border-radius: $radius;
  margin-bottom: 2rem;

  p {
    margin: 0;
}
}

.input-color {
  background: $input-background;
}

.button-color {
  background: $button-background;
}

.error-color {
  background: $error-color;
}

.alert-color {
  background: $alert-color;
}

.success-color {
  background: $success-color;
}
