// =======================
// Breadcrumbs
// =======================
  
.breadcrumb-box {
  float: left;
  width: 100%;
  margin-bottom: $spacer;
  
  p {
  font-family: $alt-font;
  font-size: $third;
  margin-top: 0;
}
}

// =======================
// Page Naviagtion
// =======================

.pagination {
  margin: $spacer/2 auto $spacer auto;
  width: 95%;
  text-align: center;
}

.pagination ul {

}

.pagination ul>li {
  display: inline;
  font-family: $alt-font;
  font-size: $third;
  font-weight: bold;
}

.pagination ul>li:first-child>a,
.pagination ul>li:first-child>span {
  @include background();
  border-radius: $radius;
}

.pagination ul>li:last-child>a,
.pagination ul>li:last-child>span {
  @include background();
  border-radius: $radius;
}

.pagination ul>li>a,
.pagination ul>li>span {
  padding: .4rem .6rem;
  @include background();
  border-radius: $radius;
}

// ==================================
// Next/Previous Navigation
// ==================================
  
.prev-next {
  @include clearfix;
}

.prev-next {
  font-family: $alt-font;
  font-size: $third;
  
  ul {
  list-style: none;
  padding-left: 0;

  li i {
  
}
}

.prev-link {
  float: left;
  @include background();
  border-radius: $radius;
  padding: .3rem .5rem;
}

.next-link {
  float: right;
  @include background();
  border-radius: $radius;
  padding: .3rem .5rem;
}
}