.privacy {
  text-align: center;
  margin: math.div($spacer, 2) 0;

  h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.6rem;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: $secondary;
  }

  hr {
    margin-bottom: $spacer;
  }
}

@include media(700) {
  .privacy {
    h1 {
    font-size: 2rem;
   }
    h2 {
    font-size: 1.7rem;
   }

    h3 {
    font-size: 1.5rem;
   }
 }
}
