// =======================
// About
// =======================
@use "sass:math";
@use "../../css/root/" as *;
.about {
  padding-top: $spacer;

  h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: $spacer;
  }

  h3 {
    font-size: 1.4rem;
    text-align: center;
  }

  h4 {
    font-size: 1.4rem;
    text-align: center;
    color: $medium-gray;
  }

  .about-wrap {
    p {
      margin-bottom: 15px;
    }
  }

  ul {
    list-style: none;
  }

  li {
    font-size: $secondary;
  }

  pre {
    text-align: left;
    padding: math.div($spacer, 2) $spacer;
    @include background(tint($light-gray, 60%));
    border-radius: $radius;
    color: rgb(87, 127, 214);
  }

  code {
    font-size: $third;
  }
}
@include media(700) {
  .about {
    h2 {
      font-size: 1.7rem;
    }

    h3 {
      font-size: 1.6rem;
    }

    h4 {
      font-size: 1.6rem;
    }
  }
}
@include media(900) {
  .about {
    h3 {
      font-size: 1.7rem;
    }

    h4 {
      font-size: 1.7rem;
    }
  }
}
