// =======================
// Back to Top
// =======================
#topBtn {
  font-family: $alt-font;
  text-align: center;
  @include border-right-radius(0);
  position: fixed;
  bottom: 50px;
  right: 0;
  background: $black;
  display: none;
  padding: .5rem;
  font-size: $third;
  letter-spacing: 1px;
  color: $white;
  opacity: .7;

  &:active,
  &:focus,
  &:hover {
    opacity: 1;
  }
}