// =======================
// Dropdowns
// =======================
@use "sass:math";
@use "../../css/root/" as *;
.dropdown-area {
  max-width: 600px;
  @include margin($spacer auto);
  padding: math.div($spacer, 2);
}

.dropdown .trigger {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.dropdown .trigger::after {
  content: ">";
  display: inline-block;
  position: absolute;
  right: 15px;
  transform: rotate(90deg) scale(0.5, 1);
  font-weight: bold;
  transition: transform 0.3s;
}
.dropdown .trigger.active::after {
  transform: rotate(-90deg) scale(0.5, 1);
}
.dropdown .content {
  display: none;

  p {
    font-size: $secondary;
    padding: math.div($spacer, 2) 10px;
    margin-bottom: 0;
  }
}
.dropdown .content.active {
  display: block;
}
