// =======================
// Firebase
// =======================
@use "sass:math";
@use "../../css/root/" as *;
.firebase {
  text-align: center;
  p {
    margin: math.div($spacer, 2) auto $spacer * 1.2 auto;
  }

  hr {
    @include margin(0 10px null 10px);
  }
}

.contact {
  margin-bottom: $spacer;
}

.subscribe {
  border: none;
  border-radius: 0 !important;
  border-bottom: 1px solid $link-color;
  margin: 10px auto 30px auto;
  padding: 10px;
  background: none;
  outline: none;
  box-shadow: none;
  max-width: 400px;

  &:hover {
    border-bottom: 1px solid $hover-color;
  }

  &:focus {
    border-bottom: 1px solid #7aabda;
    box-shadow: none;
  }
}

.contact-submit {
  width: 120px;
  margin: 10px auto;
}

.feedback {
  font-size: $secondary;
  letter-spacing: 2px;
  font-weight: 500;
  color: #51b924;
  padding-bottom: 6px;
  display: none;
}
