// =======================
// Form
// =======================
@use "sass:math";
@use "../../css/root/" as *;
.signup-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  @include padding(20px);
  @include margin(math.div($spacer, 2) auto);

  input {
    margin: math.div($spacer, 2) 0;
  }
}

.feedback-form {
  text-align: center;
  font-size: $third;
  padding: 0 20px;
  color: $alert-color;
}

.feedback-form.successtext {
  color: $success-color;
}

.signup-form .success {
  outline: 2px solid $success-color;
  color: $success-color;
}

.signup-form .error {
  outline: 2px solid $error-color;
  color: $error-color;
}
