// =======================
// Grid Layout
// =======================

@use "../../css/root/" as *;

//Using Grids
//The layout page in the test folder uses a grid layout
//It is targeted with a class of 'with-sidebar' on the 'body' tag

//With sidebar
//set some grid variables
$main: 100%;
$sidebar: 25%;
$grid-color: #cdcdcd;

//Display phone1st
//Used in the Test folder for the layout page
.with-sidebar {
  .wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 40px;
    grid-template-areas: "header" "main" "sidebar" "footer";
  }

  .header {
    grid-area: header;
    background: $grid-color;
    padding: $spacer 0;
  }

  .main {
    grid-area: main;
    background: $grid-color;
    padding: 15px;
  }

  .sidebar {
    grid-area: sidebar;
    background: $grid-color;
    padding: 20px;
  }

  .footer {
    grid-area: footer;
    background: $grid-color;
    padding: $spacer 0 0;
    text-align: center;
  }

  @include media(900) {
    .wrapper {
      grid-template-columns: auto ($sidebar);
      column-gap: 20px;
      align-items: start;
      grid-template-areas: "header header" "main sidebar" "footer footer";
    }
  }
}
