// =======================
// Modal
// =======================

@use "../../css/root/" as *;

.popup-content-area {
  position: relative;

  button {
    display: block;
    margin: 20px auto;
  }

  .popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 110;

    .popup {
      text-align: center;
      width: 100%;
      max-width: 300px;
      margin: 15% auto;
      padding: 20px;
      background: white;
      position: relative;
      color: $black;
      height: 300px;

      a {
        padding: 6px 10px;
        font-size: $third;
      }

      h2 {
        margin-top: $spacer;
        font-size: 1.6rem;
      }

      p {
        font-size: $secondary;
      }
    }

    .popup-close {
      position: absolute;
      top: 5px;
      right: 8px;
      cursor: pointer;
    }
  }
}
