// =======================
// Tabs
// =======================
@use "sass:math";
@use "../../css/root/" as *;

.tabs-area {
  max-width: 600px;
  @include margin($spacer auto);
  padding: math.div($spacer, 2);
}

.tabs ul {
  margin: 0;
  background: $white;
}

.tabs .trigger {
  list-style-type: none;
  margin: 0;
  @include border-top-radius(6px);
  display: inline-block;
  padding: 10px;
  font-size: $third;
  cursor: pointer;
}
.tabs .trigger.active {
  background: #c1acff;
  color: white;
}
.tabs .content {
  background: #fbfbfb;
  padding: 10px 20px;
  border-radius: 6px;
  display: none;
}
.tabs .content.active {
  display: block;
  background: #c1acff;
}

.tabs #one.content.active {
  border-top-left-radius: 0;
}

@include media(700) {
  .tabs .trigger {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: $secondary;
    cursor: pointer;
  }
}
