// =======================
// Test
// =======================
@use "sass:math";
@use "../../css/root/" as *;
.intro-para {
  text-align: center;
  margin-top: $spacer;
}

hr {
  margin: $spacer math.div($spacer, 2);
}

.links-title {
  font-size: 1.6rem;
  text-align: center;
}

.links {
  margin: math.div($spacer, 2) 0 $spacer 0;
  text-align: center;

  a {
    display: block;
    font-size: $secondary;
    //font-family: $alt-font;
  }
}

.theme-variables p {
  padding: math.div($spacer, 2);
}

.black-color {
  background: $black;

  p {
    color: #fff;
  }
}

.white-color {
  background: $white;
}

.dark-gray {
  background: $dark-gray;

  p {
    color: #fff;
  }
}

.medium-gray {
  background: $medium-gray;
  p {
    color: #fff;
  }
}

.light-gray {
  background: $light-gray;
}

.font-color {
  background: $font-color;

  p {
    color: #fff;
  }
}

.link-color {
  background: $link-color;
  p {
    color: #fff;
  }
}

.hover-color {
  background: $hover-color;
  p {
    color: #fff;
  }
}

.background {
  background: $background;
}

.light-background {
  background: $light-background;
}

.border {
  border: $border;
  border-radius: $radius;
  margin-bottom: 2rem;

  p {
    margin: 0;
  }
}

.error-color {
  background: $error-color;
  p {
    color: #fff;
  }
}

.alert-color {
  background: $alert-color;
  p {
    color: #fff;
  }
}

.success-color {
  background: $success-color;
  p {
    color: #fff;
  }
}

.center {
  text-align: center;
}

@include media(700) {
  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
