// =======================
// Tool Tip
// =======================

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
  color: #ff6565;
  border-bottom: 1px dotted #ff6565;
}

.tip {
  visibility: hidden;
  width: 150px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
  }
}

.tip {
  background-color: #ff6565;

  &::after {
    border-top-color: #ff6565;
  }
}
