// =======================
// Base
// =======================

@use "../../css/root/" as *;

@use "test";
@use "about";
@use "scss";
@use "grids";
@use "back-top";

//layout.kit
.sidebar {
  text-align: center;

  ul li {
    display: inline;

    &:after {
      content: "|";
      margin-right: 2px;
      margin-left: 5px;
    }

    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}

@include media(900) {
  .sidebar {
    text-align: left;

    ul li {
      display: block;

      &:after {
        content: "";
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
