// =======================
// Flexbox
// =======================
@use "sass:math";

@import "bourbon";
@import "../../css/base/variables";
@import "../../css/base/mixins";
@import "back-top";

.center {
  text-align: center;
}
.flex-header {
  h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: math.div($spacer, 2);
  }
}

.flex-wrap {
  hr {
    margin: $spacer 10px;
  }
}

.flexbox-one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin-top: $spacer * 2;
    border: 1px solid $light-gray;

    div {
      width: 50px;
      background: orange;
     border: 1px solid $light-gray;
     text-align: center;
     padding: 8px 0;
     vertical-align: middle;
    }
  }

.results {
  p {
    margin-bottom: 10px;
    font-size: $third;
    font-weight: 700;
  }

  .content-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: $spacer;
  }

  .content-direction,
  .content-justify {
    width: 135px;
    margin-left: 0px;
  }

  .content-flex-wrap,
  .content-align {
    width: 135px;
    margin-right: 0px;
  }

  .form-wrap {
    input[type="radio"] {
      margin-bottom: 0;
    }

    label {
      font-size: $third;
    }
  }

  .but {
    display: block;
    margin: $spacer auto;
  }

  .css-output {
    @include center-block;
    @include margin($spacer null);
    max-width: 350px;
    padding: 10px 20px;
    border: 1px solid $light-gray;
    border-radius: $radius;

    p, span {
      font-family: $code-font;
      font-style: italic;
      margin-bottom: 3px;
      margin-left: 10px;
      color: $medium-gray;
      font-size: $secondary;
    }
  }
}

@include media(400) {
  .results {
    .content-direction,
    .content-justify {
      margin-left: 20px;
    }

    .content-flex-wrap,
    .content-align {
      margin-right: 20px;
    }
  }
}

@include media(600) {
  .flex-header {
    h1 {
      font-size: 2rem;
    }
  }

  .results {
    .content-direction,
    .content-justify {
      margin-left: 50px;
    }

    .content-flex-wrap,
    .content-align {
      margin-right: 50px;
    }

    .css-output {
    max-width: 500px;
  }
  }
}

@include media(700) {
  .results {
    .content-direction,
    .content-justify {
      margin-left: 120px;
    }

    .content-flex-wrap,
    .content-align {
      margin-right: 120px;
    }
  }
}

@include media(900) {
  .flex-header {
    h1 {
      font-size: 2.5rem;
    }
  }
}
