// =======================
// Forms
// =======================

@use "../root/" as *;

input,
label,
select,
textarea {
  display: block;
  margin-bottom: calc($spacer / 2);
}

fieldset {
  margin-top: calc($spacer / 2);
}
legend {
  margin-bottom: calc($spacer / 2);
}

#{$all-text-inputs} {
  appearance: none;
  border: $border;
  transition: border-color $duration $timing;
  width: 100%;
  font-size: $secondary;
  background-color: transparent;
  border-radius: $radius;
  box-shadow: inset 0 1px 2px rgba(#000, 0.26);
  margin-bottom: calc($spacer / 2);
  padding: calc($spacer / 3);

  &:focus {
    border-color: $link-color;
    border-width: 1.5px;
    box-shadow: inset 0 1px 3px rgba(#000, 0.4);
  }

  &:disabled {
    cursor: not-allowed;
    box-shadow: none;

    @media (hover: hover) {
      &:hover {
        border-color: $error-color;
      }
    }
  }
  &::placeholder {
    color: $font-color;
    opacity: 0.75;
  }
}

[type="search"] {
  appearance: textfield;
  -webkit-appearance: textfield;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin: 0;
}

[type="file"],
select {
  width: 100%;
}
