// =======================
// Layout
// =======================
//Start with laying out your basic site using css grids

//This site just uses a .wrapper div
.wrapper {
  max-width: 900px;
  @include margin(null auto);
}

$site-main: 100%;
$site-sidebar: 25%;
$grid-color: #D1C3E3;

//This grid only affects the 'layout page' in the 'test' folder.
  .site {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 20px;
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "footer";
    align-items: center;
  }

.site-header {
  grid-area: header;
  background: $grid-color;
  padding: $spacer 0;

  h1 {
    text-align: center;
  }
}

.site-main {
  grid-area: main;
  background: $grid-color;
  padding: $spacer;
}

.sidebar {
  grid-area: sidebar;
  background: $grid-color;
padding: 20px;
ul {
  list-style: none;
}
}

.site-footer {
  grid-area: footer;
  background: $grid-color;
  padding: $spacer 0 0 0;
  text-align: center;
}

@include media(900) {
.site {
  grid-template-columns: auto ($site-sidebar);
  column-gap: 20px;
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
}
}