// =======================
// Typography
// =======================

hr {
  display: block;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $font-color;
  clear: both; // remember this!
  line-height: 1.4;
  hyphens: none;
  font-size: $font-size; //Remove to set browser default headings
  margin-bottom: math.div($spacer, 3);
}

p {
  hyphens: none;
}

b,
strong,
dt {
  font-weight: bolder;
}

i,
em,
dfn,
cite,
abbr,
address {
  font-style: italic;
}

small {
  font-size: math.div($font-size, 1.25);
}

pre {
  overflow: auto;
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap; // fennec
  white-space: pre-wrap;
}

pre,
code,
kbd,
samp {
  font-family: $code-font;
  font-size: $secondary;
  line-height: 1.4;
}

//give the elements bottom margin
p,
pre,
address,
blockquote,
ul,
ol,
dl {
  margin-bottom: $spacer;
}

ul ul,
ol ol {
  margin-bottom: 8px;
}

li ul,
li ol {
  margin-top: 8px;
}

li {
  font-size: math.div($font-size, 1.03);
  margin-bottom: 5px;
}

li li {
  font-size: math.div($font-size, 1.09);
  margin-left: math.div($spacer, 2);
}

//inline list
ul.inline li {
  display: inline;
  margin-right: math.div($spacer, 2);
}

dt {
  margin-top: math.div($spacer, 4);
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// consistant paragraphs
.lead {
  font-size: $lead;
}

.secondary {
  font-size: $secondary;
}

.third {
  font-size: $third;
}
