// =======================
// Typography
// =======================
@use "sass:math";
@use "../root/variables" as *;

hr {
  border-bottom: $border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $spacer 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $font-color;
  clear: both;
  font-weight: normal;
  line-height: 1.3;
  hyphens: none;
  font-size: $font-size; //Remove to set browser default headings
  margin-bottom: math.div($spacer, 3);
}

p {
  hyphens: none;
}

b,
strong,
dt {
  font-weight: bolder;
}

i,
em,
dfn,
cite,
abbr,
address {
  font-style: italic;
}

abbr,
acronym {
  border-bottom: 1px dotted $medium-gray;
  cursor: help;
}

mark,
ins {
  background: $light-gray;
  text-decoration: none;
}

small {
  font-size: 85%;
}

big {
  font-size: 125%;
}

pre {
  overflow: auto;
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

pre,
code,
kbd,
tt,
var {
  font-family: $code-font;
  font-size: $secondary;
  line-height: 1.4;
}

//give the elements bottom margin
p,
pre,
address,
blockquote,
ul,
ol,
dl {
  margin-bottom: $spacer;
}

ul ul,
ol ol {
  margin-bottom: math.div($spacer, 3);
}

ul {
  list-style: disc;
  margin-left: math.div($spacer, 2);
}

ol {
  list-style: decimal;
  margin-left: math.div($spacer, 2);
}

li > ul,
li > ol {
  margin-top: math.div($spacer, 3);
}

li > ul {
  list-style: circle;
}

li {
  font-size: math.div($font-size, 1.03);
  margin-bottom: math.div($spacer, 4);
}

li li {
  font-size: math.div($font-size, 1.09);
}

//inline list
ul.inline li {
  display: inline;
  margin-right: math.div($spacer, 2);
}

dt {
  margin-top: math.div($spacer, 4);
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// consistant paragraphs
.lead {
  font-size: $lead;
}

.secondary {
  font-size: $secondary;
}

.third {
  font-size: $third;
}
